@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@300;500;700&family=Send+Flowers&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

span {
  color: #FF902B;
  font-weight: bold;
}

#root {
  text-align: center;
  width: 100%;
}

header {
  background-color: #F6EBDA;
  display: flex;
  justify-content: center;
}


.navbar {
  width: 80vw;
  background-color: #F6EBDA;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75em;
}

.img-logo {
  width: 56px;
}

.logo-text {
  font-family: 'Send Flowers', cursive;
  text-decoration: none;
  color: #000;
  font-size: 46px;
}

.navbar-elements {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar-element {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.navbar-element.selected {
  color: #FF902B;
}

.navbar-element:hover {
  color: #FF902B;
}

.image {
  object-fit: fill;
}

.hero {
  background-color: #F6EBDA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 410px;
  padding-top: 20px;
}

.info-violinos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 80vw;
}

.content-hero {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3em;
}

.slogan {
  font-size: 48px;
  font-weight: 600;
  color: #2F2105;
  text-align: left;
}

.hero-descripcion {
  max-width: 400px;
  font-size: 18px;
  font-weight: 300;
  color: #7E7D7A;
  text-align: left;
}

.content-hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.hero-link-about {
  cursor: pointer;
  padding: 12px 32px;
  background-color: #2F2105;
  color: #fff;
  border-radius: 33px;
  border-style: none;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}

.hero-link-about:hover {
  background-color: #FF902B;
  color: #2F2105;
}

.hero-link-redes {
  color: #FF902B;
  text-decoration: none;
  font-size: 14px 122px;
  font-weight: bold;
  transition: all 0.3s;
}

.hero-link-redes:hover {
  color: #2F2105;
}

.marco-img {
  background-color: #fff;
  padding: .8em 1em;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #5f5f5f;
  backdrop-filter: blur(5px);
}

.marco-img img {
  width: 377px;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -340px;
  text-align: start;
  gap: 2em;
  margin-bottom: 50px;
}

.servicios-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-image: url(./img/rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 90vw;
}

.title-services {
  align-self: flex-start;
  margin-left: 5.5vw;
  font-size: 32px;
  font-weight: 600;
  position: relative;
}

.content-servicios {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 2em;
}

.servicio {
  box-shadow: 0px 0px 8px #5f5f5f;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
  padding: 1.3em;
  background-color: #fff;
  border: solid 12px rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  border-radius: 12px;
  width: 20vw;
  max-width: 280px;
}

.servicio h4 {
  font-size: 24px;
  font-weight: 600;
  color: #2F2105;
}

.servicio img {
  border-radius: 12px;
}

.title-services::after {
  content: ""; /* Se requiere para elementos pseudo ::before o ::after */
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 70px; /* Ajusta el ancho de la línea según sea necesario */
  height: 4px; /* Ajusta la altura de la línea según sea necesario */
  background-color: #FF902B; /* Color de la línea */
  border-radius: 50px;
}

.servicio-descripcion {
  font-size: 16px;
}

/* --- --- --- --- RESPONSIVE --- --- --- --- */

@media (max-width: 945px) {
  .navbar {
    width: 90vw;
  }

  .img-logo {
    width: 40px;
  }

  .logo-text {
    font-size: 40px;
  }

  .navbar-elements a {
    font-size: 16px;
  }

  .slogan {
    font-size: 30px;
  }

  .hero-descripcion {
    font-size: 16px;
  }

  .hero-link-about {
    padding: 12px 15px;
  }

  .marco-img img {
    width: 250px;
  }

  .servicio h4 {
    font-size: 20px;
  }

  .servicio-descripcion {
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .navbar {
    flex-direction: column;
    gap: 0.5em;
  }

  .logo-text {
    font-size: 35px;
  }

  .navbar-elements {
    gap: 1em;
  }

  .info-violinos {
    flex-direction: column;
  }

  .content-hero {
    gap: 1em;
    align-items: center;
  }

  .slogan {
    text-align: unset;
  }

  .hero {
    padding-bottom: 0px;
  }

  .hero-descripcion {
    text-align: unset;
  }

  .content-hero-links {
    gap: 1em;
  }
  
  .hero-link-about {
    padding: 5px 15px;
    border-radius: 20px;
  }

  .marco-img {
    margin-bottom: 20px;
    border-radius: 9px;
  }

  .marco-img img {
    width: 150px;
  }

  .title-services {
    font-size: 30px;
  }

  .title-services::after {
    left: 50%;
  }

  .content-servicios {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .title-services {
    align-self: unset;
  }

  .servicios {
    margin-top: 20px;
  }

  .servicios-section {
    background-color: #f6d6a8;
    padding: 10px 0px;
    border-radius: 10px;
  }

  .servicio {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    padding: 20px 10px;
    border-radius: 9px;
  }

  .servicio img {
    object-fit: cover;
    width: 200px;
    max-height: 100px;
  }

  .servicio-descripcion {
    font-size: 12px;
  }
}