@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@300;500;700&family=Send+Flowers&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

#root {
  text-align: center;
  width: 100%;
}

header {
  background-color: #F6EBDA;
  display: flex;
  justify-content: center;
}


.navbar{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero{
  position: relative;
  background-color: #F6EBDA;
  height: 100%;
  width: 100%;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75em;
}

.img-logo{
  width: 56px;
}

.logo-text{
  font-family: 'Inter', sans-serif;
  font-family: 'Send Flowers', cursive;
  text-decoration: none;
  color: #000;
  font-size: 46px;
}

.navbar-elements{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar-element{
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.navbar-element.selected{
  color: #FF902B;
}

.navbar-element:hover{
  color: #FF902B;
} 

.image{
  object-fit:fill;
}

.info-violinos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0 2em;
  padding: 14px 122px 300px 122px;
}

.content-hero{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3em;
  padding: 0 1em;
}

.slogan{
  font-size: 48px;
  font-weight: 600;
  color: #2F2105;
  text-align: left;
}

.slogan span{
  color: #FF902B;
}

.hero-descripcion{
  max-width: 400px;
  font-size: 18px;
  font-weight: 300;
  color: #7E7D7A;
  text-align: left;
}

.content-hero-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.content-hero-links button{
  cursor: pointer;
  padding: 12px 32px;
  background-color: #2F2105;
  color: #fff;
  border-radius: 33px;
  border-style: none;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}

.content-hero-links button:hover{
  background-color: #FF902B;
  color: #2F2105;
}

.content-hero-links a{
  color: #FF902B;
  text-decoration: none;
  font-size: 14px 122px;
  font-weight: bold;
  transition: all 0.3s;
}

.content-hero-links a:hover{
  text-decoration: underline;
  color: #2F2105;
}

.marco-img{
  background-color: #fff;
  padding: .8em 1em;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #5f5f5f;
  backdrop-filter: blur(5px);
}

.title-services{
  font-size: 32px;
  font-weight: 600;
  position: relative;
  margin-left: 3em;
  
}
.servicios{
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 14px;
  position: absolute;
  gap: 2em;
  z-index: 2;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 930px;
}

.content-servicios{
  align-self: center;
  margin:0;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 2em;
  justify-content:center;
}

.servicio {
  box-shadow: 0px 0px 8px #5f5f5f;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
  padding: 1.5em;
  background-color: #fff;
  max-width: 280px;
  border: solid 12px rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  border-radius: 12px;
}

.servicio h4{
  font-size: 24px;
  font-weight: 600;
  color: #2F2105;
}

.servicio img{
  border-radius: 12px ;
}

.title-services::after {
  content: ""; /* Se requiere para elementos pseudo ::before o ::after */
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 70px; /* Ajusta el ancho de la línea según sea necesario */
  height: 4px; /* Ajusta la altura de la línea según sea necesario */
  background-color: #FF902B; /* Color de la línea */
  border-radius: 50px;
}

.servicio-descripcion{
  font-size: 16px;
}

.rectangle{
  position: relative;
  top: -70px;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

